page-medagliereglobale {

    .mg {
        font-size: 14px;
    }

    .table-striped td {
        font-size: 16px;
        padding: 3px;
    }

    .info {
        padding: 10px;
        text-align: center;
    }

    .table-striped {
        border: 1px solid black;

    }

    .table-striped thead {
       /* background: lightblue;*/
    }

}
