 <div data-role="popup" style="sposition: absolute; stop: 10px; sleft: 10px;" id="popNotification" data-dismissible="true" data-theme="b" class="ui-corner-all">
    <!--<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>-->
            <div sstyle="padding:10px 20px;" data-role="content">
              <!--<div style="backcolor: blue; color: white; height: 30px; width: 100%;">
			  
			  </div>-->
			  
			  <div style="border: 1px solid gray; sbackcolor: blue; color: white; sheight: 50px; swidth: 200px%; padding: 8px; font-size: 12px;">
			   <%= data.body %>
			  </div>
			  
			  
            </div>
    </div>