page-cart {

    .productimage {
        height: 40px;
        width: 40px;
    }

    .totale {
        font-size: 16px;
        margin: 10px;
    }


    .inp {
        width: 40px;
        text-align:center;
        border: 0px;
    }


    .bariconbig {
        font-size: 30px;
    }


}
