<!--
  Generated template for the EditatletaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}&nbsp;atleta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content spadding class="ion-content">
    <ion-item *ngIf="mode=='edit'">
        <ion-label floating>ID</ion-label>
        <ion-input readonly [(ngModel)]="atleta.id"></ion-input>
       
    </ion-item>
    <ion-item *ngIf="mode=='edit'">
        <ion-label floating>AtletaID</ion-label>
        <ion-input readonly [(ngModel)]="atleta.atletaid"></ion-input>
       
    </ion-item>

    <ion-item>
       <ion-label floating>Cognome</ion-label>
       <ion-input [(ngModel)]="atleta.cognome"></ion-input>
      
   </ion-item>
   <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input [(ngModel)]="atleta.nome"></ion-input>
     
  </ion-item>
  <ion-item>
      <ion-label floating>Data di nascita</ion-label>
      <ion-input [(ngModel)]="atleta.datanascita"></ion-input>
     
  </ion-item>
  <ion-item>
      <ion-label floating>Sesso</ion-label>
      <ion-select [(ngModel)]="atleta.sesso">
          <ion-option value="F">F</ion-option>
          <ion-option value="M">M</ion-option>
        </ion-select>
     
  </ion-item>
  <ion-item>
      <ion-label floating>Squadra</ion-label>
      <ion-input [(ngModel)]="atleta.squadra"></ion-input>
     
  </ion-item>
  <ion-item>
      <ion-label floating>Categoria peso</ion-label>
      <ion-input [(ngModel)]="atleta.categoriapeso"></ion-input>
     
  </ion-item>
  <ion-item>
      <ion-label floating>Cintura</ion-label>

      <!--<ion-input [(ngModel)]="atleta.cintura"></ion-input>-->
      <ion-select [(ngModel)]="atleta.cintura">
          <ion-option value="bianca">bianca</ion-option>
          <ion-option value="bianca-gialla">bianca-gialla</ion-option>
          <ion-option value="gialla">gialla</ion-option>
          <ion-option value="gialla-verde">gialla-verde</ion-option>
          <ion-option value="verde">verde</ion-option>
          <ion-option value="verde-blu">verde-blu</ion-option>
          <ion-option value="blu">blu</ion-option>
          <ion-option value="blu-rossa">blu-rossa</ion-option>
          <ion-option value="rossa">rossa</ion-option>
          <ion-option value="rossa-nera">rossa-nera</ion-option>
          <ion-option value="nera">nera</ion-option>
        </ion-select>

  </ion-item>
  <ion-item>
      <ion-label floating>Palestra</ion-label>
      <ion-input [(ngModel)]="atleta.palestra"></ion-input>
     
  </ion-item>
  <ion-item>
      <ion-label floating>Punti classifica</ion-label>
      <ion-input [(ngModel)]="atleta.punticlass"></ion-input>
     
  </ion-item>
  <ion-item>
      <ion-label floating>Societa</ion-label>
      <ion-select [(ngModel)]="atleta.societaid">
          <ion-option *ngFor="let s of societa" [value]="s.doc.id">{{s.doc.nome}}</ion-option>
          
        </ion-select>
      <!--<ion-input [(ngModel)]="atleta.societaid"></ion-input>-->
     
  </ion-item>
  <ion-item>
        <ion-label floating>Dismissed</ion-label>
        <ion-select [(ngModel)]="atleta.dismissed">
            <ion-option value="false">false</ion-option>
            <ion-option value="true">true</ion-option>
          </ion-select>
       
    </ion-item>

</ion-content>
<ion-footer>
    <ion-row class="footerrow">
      <ion-col col-6><button color="secondary" ion-button full (tap)="saveAtleta()" >Salva</button></ion-col>
      <ion-col col-6><button ion-button full (tap)="cancelAtleta()">Annulla</button></ion-col>
    </ion-row>
  </ion-footer>

