
<%
console.log(data);


  if (data.trim()!=""){
  
  
  %>
  
  <iframe src="<%= data %>" width="100%" height="450" frameborder="0" style="border:1px solid black" allowfullscreen onload="mapOpened()"></iframe>
  
  <%
  } else {
  
  %>
  
  <p align="center">Location in GoogleMaps non presente per questa gara</p>
  
  <%
  
  }



%>

