page-products {

    .productimage {
        height: 70px;
    }

    .inp {
        width: 40px;
        text-align:center;
    }

    .baricon {
        font-size: 26px;
    }

    .bariconbig {
        font-size: 30px;
    }

    .price {
        font-size: 15px;
    }

    .nome {
        font-size: 14px;
        font-weight: bold;
    }
    .descr {
        font-size: 13px;
        font-style: italic;
    }

}
