page-atleta {
    .label {
        font-size: 12px;
        color: gray;
    }
    .value {
        font-size: 16px;
        color: black;
    }
    .footerrow ion-col {
        padding: 5px;
    }

    ion-fab[bottom] {
        bottom: 50px;
    }
}
