<!--
  Generated template for the TwitterPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Twitter</ion-title>
    <button (tap)="linkedin()" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
-->
<ion-header>
<ion-navbar> 

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

<ion-title>
Twitter
</ion-title>
<!--<ion-buttons end>

<button (click)="linkedin()">Linkedin</button>
</ion-buttons>-->
</ion-navbar>
</ion-header>

<ion-content spadding>

 <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
        </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="searchtext" [showCancelButton]="shouldShowCancel" (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)">
</ion-searchbar>

  <!--<ion-input type="text" (input)="onSearchChange($event.target.value)"></ion-input>-->

<ion-card *ngFor="let item of tweets" (tap)="tapCard(item)">
 
      <ion-item>
        <ion-avatar item-left>
          <img src="{{item.user.profile_image_url}}" />
        </ion-avatar>
        <h2>{{item.user.name}}</h2>
        <p>{{getNormalDate(item.created_at)}}</p>
      </ion-item>
 
      <!--<img src="http://placehold.it/500x200" />-->
 
      <ion-card-content>
        <div>{{item.text}}</div>
       <!--  <div [innerHTML] = "item.doc.description"></div>-->
        
      </ion-card-content>
 
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon class="bpgreen" name="thumbs-up"></ion-icon>
            <div class="bpgreen">12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon class="bpgreen" name="text"></ion-icon>
            <div class="bpgreen">4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
           
          </ion-note>
        </ion-col>
      </ion-row>
 
    </ion-card>

<!--
<ion-row>
  <ion-col>
  <ion-card class="card" *ngFor="let item of tweets">
    <div class="card-image">
      <img style={width:10px,height:10px;} src={{item.user.profile_image_url}}>
    </div>
    <div class="right-content">
      <span class="card-title">{{item.user.name}}</span>
      <div class="card-content">
        <p>{{item.text}}</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </ion-card>
  </ion-col>
  </ion-row>-->

</ion-content>