 <%
  //alert(data.length)
  $("#index #newscount").html(data.length);
  $("#index #newscount").css("background","green");
  if (data.length==0) $("#index #newscount").css("background","gray");
  
  
  
  for (var i=0; i<data.length; i++) {
  
 %> 
 
 <div class="card"  style="text-align: center">
	<div class="card-image" style="text-align: center; stop: 15px; height: 105px; ">
		<img alt="home" src="images/newspaper.jpg" style="width: 160px; height: 80px;"/>
		<!--<h2>Card Title</h2>-->
	</div>
	<!--<h1>Pools non disponibili</h1>-->
	<p style="background: lightblue"><span class="data"><%=data[i].time%></span><br><%=data[i].text%></p>
</div>


<%

}

%>