<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>AppKwonDoV2</ion-title>
    <!--<button ion-button menuToggle="right" end>
        <ion-icon name="menu"></ion-icon>
      </button>-->
    <ion-buttons end>

      <button (tap)="showAbout()" ion-button icon-only>
        <ion-icon name="ios-information-circle"></ion-icon>
      </button>


<button (tap)="broadcast()" ion-button icon-only>
  <ion-icon *ngIf="isIbmAdmin" name="ios-radio-outline"></ion-icon>
</button>


</ion-buttons>
  </ion-navbar>
  
    
</ion-header>

<ion-content spadding class="ion-content">

   
  <ion-card>
    <ion-card-content style="padding: 7px;">
      <ion-row>
        <ion-col col-9>
            <div class="benvenuto">Benvenuto <b>{{user.nickname}}</b></div>
            </ion-col>
            <ion-col col-3 style="text-align: right">
                <button style="height: 18px;" clear ion-button (tap)="myAccount()"><ion-icon class="baricon" name="md-settings"></ion-icon></button>
            </ion-col>
      </ion-row>
            <div class="server">{{user.email}}</div>
            <div class="server">Server: {{backend.rooturl}}</div>
            <div class="admin" *ngIf="user.role=='tkdradmin'">Accesso amministratore eseguito</div>

      

    </ion-card-content>
    </ion-card>
  
<ion-list >
  <ion-item  *ngFor="let m of displayedmenu" (tap)="gotoPage(m.page)">
    <ion-row style="font-size: 16px" >
      <ion-col col-2 class="fixedicon">
    <ion-icon style="font-size: 22px !important" name="{{m.icon}}"></ion-icon>
      </ion-col>
      <ion-col style="font-size: 20px" >{{m.name}}</ion-col>
      <ion-col col-1>
        <ion-badge *ngIf="(backend.unread>0) && (m.name=='ChatKwonDo')" color="danger">{{backend.unread}}</ion-badge>
        <ion-badge *ngIf="(backend.nextevents.length>0) && (m.name=='Eventi')" >{{backend.nextevents.length}}</ion-badge>
      </ion-col>
      </ion-row>
  </ion-item>
  </ion-list>
  <!--<ion-card>
    <ion-card-content>
        <img *ngIf="backend.activesocieta=='ASD TAEKWONDO ROZZANO'" src="assets/img/logotkdrozzano_icon.png" style="height: 32px" />
    </ion-card-content>
  </ion-card>-->
 
</ion-content>
