page-chatlist {
   .filename {
       font-size: 14px;
       font-weight: bold;
   }

   .selected  {
       background-color: lightblue; 
       padding: 3px !important;
   }
   .selected input-wrapper {
    background-color: lightblue; 
    padding: 3px !important;
}

   .filesize {
       font-size: 12px;
   }

   .archiviata {
       font-size: 13px;
       color: gray;
   }
}
