
<div data-role="popup" id="popupMenu" data-dismissable="false" data-theme="a">
        <ul data-role="listview" data-inset="true" style="min-width:210px;">
            <li data-role="list-divider">Seleziona sorgent</li>
            <li><a href="#">Fotocamera</a></li>
            <li><a href="#">Galleria</a></li>
        </ul>
</div>