page-products {

    .productimage {
        height: 70px;
    }

    .baricon {
        font-size: 26px;
    }

    .bariconbig {
        font-size: 30px;
    }

    .price {
        font-size: 15px;
    }

}
