#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
	box-shadow: 0 1px 3px #999,inset 0 -5px 15px maroon,0 2px 1px black;
	-o-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px DarkBlue, 0 2px 1px black;
	-webkit-box-shadow: 0 1px 3px #999,inset 0 -5px 1px RoyalBlue,0 2px 1px black;
	-moz-box-shadow: inset 0 1px 3px pink, inset 0 -5px 10px RoyalBlue, 0 2px 1px black;
}

#lean_modal {
    position: fixed;
    z-index: 101;
    background: #000;
	display: none;
	box-shadow: 0 1px 3px #999,inset 0 -5px 15px maroon,0 2px 1px black;
	-o-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px DarkBlue, 0 2px 1px black;
	-webkit-box-shadow: 0 1px 3px #999,inset 0 -5px 1px RoyalBlue,0 2px 1px black;
	-moz-box-shadow: inset 0 1px 3px pink, inset 0 -5px 10px RoyalBlue, 0 2px 1px black;
	
	}

.notice-success {
  background: #67b11c;
  background: linear-gradient(#72c41f, #5c9e19);
  border: 1px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 0px;
}

.dialogFixed {
    position: fixed;
}

.TDline
{
background-image: url('../images/blueline.png');
background-repeat:no-repeat;
background-size:1500px 3px;
valign: bottom;

}



/* Div containers voor indeling scherm */
 
 div.main{
	margin: 0 auto 0 auto;
	width: 100%;
	border: 0px solid gray;
	padding: 1px;
	background-color: white;
	z-index: 0;

	display: table;
	border-radius: 0px;
	
 }
 
div.main_header{
background-color: white;
 margin: 0 auto 0 auto;
 width: 100%;
 height: 100px;
 text-align: left;
 display: table;
 z-index: 1;
   }
 
 div.main_container{
 margin: 0 auto 0 auto;
 width: 100%;
 background-color: white;
 resize: both;
 display: table;
 z-index: 1;
 }
 
  div.main_header2{
 margin: 0 auto 0 auto;
 width: 100%;
  background-color: white;
 resize: both;
 display: table;
 z-index: 1;
 }

 div.main_footer{
 background-color: white;
 margin: 0 auto 0 auto;
 width: 100%;
 height: 160px;
 display:inline-block ;
 display: table;
 z-index: 1;
 } 
 
 div.topright{
 float: right;
 background-color: white;
 margin-right: 10px;
 margin-top: 1px;
 width: 100%;
 height: 60px;
 background-color: #ddd;
 z-index: 0;
}

 div.Toernooiinfo{
 margin: 0 auto 0 auto;
 width: 100%;
 background-color: #ADBDE6;
 resize: both;
 display: table;
 z-index: 1;
 border: 0px solid gray;
border-radius: 10px;
 }

/* Slider css */

 /* SlidesJS Optional: If you'd like to use this design */

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(img/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
  </style>
  /* End SlidesJS Optional */

  /* SlidesJS Required: These styles are required if you'd like a responsive slideshow */

    #slides {
      display: none;
	  margin: 10 auto 10 auto
    }

    .container {
	 width: 500px
    }
	
  /* SlidesJS Required: */
  
  
 /* divs for news and tooltip */ 


.CNews {
position:fixed;
top:0px;
left:0px;
z-index:999;
width:600px;
height:350px;
overflow:auto;
visibility:hidden;
font: 10pt 'MS Comic Sans,arial',sans-serif;
background-color: #ADBDE6;
padding: 8px;
border:1px solid black;
-moz-border-radius: 10px;
border-radius: 10px;
float: left;
}

.CTooltip {
	position: fixed;
	top:0px;
	left:0px;
	z-index:999;
	width:380px;
	visibility:hidden;
	font: 8pt 'MS Comic Sans',arial,sans-serif;
	background-color: #1334F7;
	color: white;
	padding: 8px;
	border: 1px solid black;
	Float: left;

   box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
   -o-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
   -webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
   -moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(255,255,255,0.75);
	}




input[type=submit], input[type=reset] {
   border: 1px solid maroon;
   background-color: blue;
   border-radius: 6px;
   color: white;
   text-shadow: 0 1px 1px black;    
   font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-style: normal;
	width: 150px;
	height: 20px;
	margin-right: 5px;
	margin-bottom: 4px;
	cursor: Hand;
}


input[type=submit]:hover, input[type=reset]:hover {
background: Red;
color: White;
border: 1px solid maroon;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-weight: normal;
font-style: normal;
text-align: center;
text-shadow: 0 1px 1px black;
width: 150px;
height:20px;
margin-right: 5px;
margin-bottom: 4px;
cursor: Hand;
border-radius: 6px;

}

.buttonsmall{
background: #1334F7;
color: White;
text-shadow: 0 1px 1px black;
border: 1px solid maroon;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 10px;
cursor: Pointer;
   border-radius: 4px;
 }



.buttonsmall:hover {
background: Red;
color: White;
text-shadow: 0 1px 1px black;
border: 1px solid maroon;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 10px;
cursor: Pointer;
   border-radius: 4px;

}

.button250 {
background: #1334F7;
color: White;
text-shadow: 0 1px 1px black;
border: 1px solid maroon;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 250px;
height: 12px;
margin-right: 5px;
margin-bottom: 2px;
cursor: Pointer;
   border-radius: 4px;
 
}


.button250:hover {
background: Red;
color: White;
text-shadow: 0 1px 1px black;
border: 1px solid maroon;
font-size: x-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 250px;
height: 12px;
margin-right: 5px;
margin-bottom: 2px;
cursor: Pointer;
   border-radius: 4px;
 
}

.buttonHIGH250 {
background: #1334F7;
color: White;
text-shadow: 0 1px 1px black;
border: 1px solid maroon;
font-size: x-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 250px;
height: 18px;
margin-right: 5px;
margin-bottom: 2px;
cursor: Pointer;
   border-radius: 4px;
 
}


.buttonHIGH250:hover {
background: Red;
color: White;
text-shadow: 0 1px 1px black;
border: 1px solid maroon;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 250px;
height: 18px;
margin-right: 5px;
margin-bottom: 2px;
cursor: Pointer;
   border-radius: 4px;

}

.buttonfixed {
background: #1334F7;
color: White;
text-shadow: 0 1px 1px black;
border: 1px solid maroon;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 100px;
margin-right: 5px;
margin-bottom: 2px;
cursor: Pointer;
   border-radius: 4px;
 
}

.buttonfixed:hover {
background: Red;
color: White;
text-shadow: 0 1px 1px black;
border: 1px solid maroon;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 100px;
margin-right: 5px;
margin-bottom: 2px;
cursor: Pointer;
   border-radius: 4px;
 
}

.buttonmenu {
background: #1334F7;
color: White;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 100px;
margin-right: 5px;
margin-bottom: 2px;
margin-left: 8px;
margin-top: 6px;
cursor: Pointer;
   border-radius: 4px;

}

.buttonmenu:hover {
background: Red;
color: White;
text-shadow: 0 1px 1px black;
border: 1px solid maroon;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;
width: 100px;
margin-right: 5px;
margin-bottom: 2px;
margin-left: 8px;
margin-top: 6px;
cursor: Pointer;
   border-radius: 4px;
 }

.checkbox {
background: #ADBDE6;
color: White;
border: 0;
border-style: none;
cursor: pointer;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-style: normal;

}


.Cell
{
background: #103A94;
cursor: pointer;
color: White;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}




input[type=text], input[type=textarea], input[type=password] , input[type=file]{
    
    padding: 1px;   
    border: 1px solid #DDDDDD;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	text-align: left;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 15px);    
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}


input[type=text]:focus{
  outline: none ;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
  }
  
hr {
	border-top: 1px solid blue;
	}
  
input[type=textarea]:focus{
  outline: none ;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
  }

textarea{
    
    padding: 1px;   
    border: 1px solid #DDDDDD;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 15px);    
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	}

td.TableText {
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: normal;
	line-height: 10px;
	text-align: left;
		
}

td.TableTextRed {
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: normal;
	line-height: 10px;
	text-align: left;
	color: #00FFFF;
		
}


tr.TableText {
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: normal;
	line-height: 10px;
	text-align: left;
		
}

tr.TableTextRed {
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: normal;
	line-height: 10px;
	text-align: left;
	color: #FF0000;
		
}
td.List {
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	line-height: 10px;
	text-align: left;
		
}

td.List2 {
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
	line-height: 12px;
	text-align: left;
	font-style: italic;
	color: #ff0000;
}

td.Addinfo {
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
	line-height: 12px;
	text-align: left;
	font-style: italic;
	color: #ff0000;
}


td.ListRedBold{
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	line-height: 12px;
	text-align: left;
	color: #ff0000;
		
}

td.ListRedBoldItalic{
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	line-height: 12px;
	text-align: left;
	font-style: italic;
	color: #ff0000;
			
}


td.TList:hover {
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: normal;
	line-height: 28px;
	text-align: left;
		
}

td.TList {
	
	background-color: transparent;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: normal;
	line-height: 28px;
	text-align: left;
		
}



.Entrytext {
	
	size: auto;
	font-size: x-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: transparent;
	
}

.Info {
	
	size: auto;
	font-size: x-small;
	border: 0 solid;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;	
	background-color: transparent;
}

.Header {
	
	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: 17px;
	background-color: #00A3EF;
	color: white;
	
}

.Caption {

	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: normal;	
	COLOR: blue;
	background-color: transparent;
	
}

.CaptionItalicBold {

	size: auto;
	font-size: x-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: bold;	
	font-style: italic;
	COLOR: red;
	background-color: transparent;
	
}

.CaptionItalicBoldWhite {

	size: auto;
	font-size: x-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: bold;	
	font-style: italic;
	COLOR: white;
	background-color: transparent;
	
}

.CaptionCenter {

	size: auto;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: normal;	
	COLOR: white;
	background-color: transparent;
	
}
.CaptionMouse {

	size: auto;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: black;
	cursor: Pointer
}

.Caption2{

	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: black;

}

.CaptionRed{

	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: red;
	font-weight: bold;
	cursor: Pointer;
	
}

.Caption2bold{

	size: auto;
	font-size: x-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: black;
	font-weight: bold;
	height: 24px;
}

.CaptionMelding{

	background: #1334F7;
	color: White;
	size: auto;
	font-size: xx-Large;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.Caption3bold{

	size: auto;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: black;
	font-weight: bold;
}

tr.TableCaption {

	size: auto;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	COLOR: #FFFFFF;
	background-color: #ADBDE6;
	font-weight: normal;
	overflow: hidden;
	line-height: 16px;

}

.TableCaptionXX {

	size: auto;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: White;
	background-color: Blue;
	font-weight: normal;
	height: 16px;
	overflow: hidden;

	}

.TableCaptionType {

	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: White;
	background-color: Blue;
	font-weight: normal;
	height: 11px;
	overflow: hidden;

}

.TableCaptionMonth {

	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: White;
	background-color: #00A3EF;
	font-weight: normal;
	height: 18px;
	overflow: hidden;

}

.TableCaptionMonthItalicBold{

	size: auto;
	font-size: x-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: White;
	background-color: #FF6666;
	font-style: italic;
	font-weight: bold;
	height: 14px;
	overflow: hidden;

}

.TableCaptionHeader {

	size: auto;
	font-size: x-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: White;
	background-color: #00A3EF;
	font-weight: normal;
	height: 12px;
	overflow: hidden;

}

.TableCaptionBlue {

	size: auto;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	COLOR: White;
	background-color: Blue;
	font-weight: bold;
	line-height: 10px;
	overflow: hidden;

}

.TableCaptionBlue2 {

	size: auto;
	font-size: xx-small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	COLOR: White;
	background-color: Blue;
	font-weight: bold;
	line-height: 10px;
	overflow: hidden;

}


.LiveBold {

	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: #000000;
	font-weight: bold;
}

.LiveNormal {

	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: #000000;
	font-weight: normal;
}


.LiveRed {

	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: #FF0000;
	font-weight: bold;
}

.LiveBlue {

	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	COLOR: #0000FF;
	font-weight: bold;
}

.TNHeader {
	
	size: auto;
	font-size: large;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	COLOR: #FF6666;
	FONT-STYLE: italic;
	margin-left: 20px;
	margin-top: 20px;
}

.TNHeaderblue{
	
	size: auto;
	font-size: large;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	COLOR: #0000FF;
	FONT-STYLE: italic;
	margin-left: 20px;
	margin-top: 20px;
}

.TNHeader2 {
	
	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	COLOR: 7CA4B0;
	FONT-STYLE: normal;
	margin-left: 20px;
	margin-top: 15px;
}

.TNHeader3 {
	
	size: auto;
	font-size: small;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	COLOR: 7CA4B0;
	FONT-STYLE: normal;
	margin-left: 20px;
	margin-top: 15px;
}
	
.emailtext {
	
	font-size: x-small;
	border: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;		
}
		
.emailtextbold {

	font-size: x-small;
	border: none;
	COLOR: blue;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;		
}

.checkbox {
	
	size: auto;
	font-size: xx-small;
	font-weight: bold;
	background: transparent;
	border: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	box-shadow: 2px 2px 4px #58ACFA;
	border-radius: 4px;

		
}


  
  textarea:hover
  {
    box-shadow: 0px 1px 8px #F48004;
  -webkit-box-shadow: 0px 1px 8px #F48004;
  -moz-box-shadow: 0px 1px 8px #F48004;
  }

  
select {
	
    
    padding: 1px;   
    border: 1px solid #DDDDDD;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 15px);    
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;


}

select:hover
{
  box-shadow: 0px 1px 8px #F48004;
  -webkit-box-shadow: 0px 1px 8px #F48004;
  -moz-box-shadow: 0px 1px 8px #F48004;
  }
  
.select200{
	
    width: 200px;
    padding: 1px;   
    border: 1px solid #DDDDDD;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 15px);    
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;


}


.slip

{
border: none;
font-size: xx-small;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	
}



.Table1

{
	
	border: Black;
	border-style: solid;
	border-width: thin;
	box-shadow: 2px 2px 4px #000;
}

.Trans

{
	
	border: Black;
	border-style: none;
	border-width: thin;
	background: transparent;
}

.Row1

{
	border: Black;
	border-style: solid;
	border-width: thin;
}


#Overview tbody tr.even td {
      background-color: #ddd;
    }
	
#Overview tbody tr.odd  td {
      background-color: #fff;
    }
	


body{
	margin: 10px;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
	background-color: white;
	/*background-image: url(../images/bg/back.gif);*/
 }

.Intro {

	color: #FF1F19;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal
	}

	

a:link {
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
	color: #1326AE;
} 
a:visited {
	color: #1326AE;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
}

a:focus {
  color: #FFBF00;
  	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
  }
  
 a:hover {

	color: #FF1F19;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
}

a:active {
	color: #FF1F19;
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
}

 a.vertaalfout
{
  background-color: red;
	color: white
}


t.Linieoben {
	background-image: url(../images/bg/linieoben.gif);
	background-color: #000;
}
.Links {
	background-image: url(../images/bg/Linierunter.gif);
}
.Blaurod {
	background-image: url(../images/bg/LinieBR.gif);
}
.BGmittel {
	background-image: url(../images/bg/BGweis.gif);
}
.meneu {
	background-image: url(../images/bg/Menue.gif);
}
.meneu2 {
	background-image: url(../images/bg/linieoben.gif);
}
.headrechts {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9px;
	font-style: italic;
	color: #999999;
	text-align: right;
	background-color: #FFFFFF;
}

.Footer2text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: italic;
	font-size: 10px;
	text-align: center;
	color: #999999;
	background-color: white;
}
.Footer1text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9px;
	text-decoration: underline;
	font-style: italic;
	color: #999999;
	background-color: white;	
	
}

.mnutext {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #1326AE;
	text-decoration: underline;
	text-transform: uppercase;
	clip: rect(0px,auto,auto,auto);
	padding-right: 30px;
	font-size: 10px;
	cursor: text;
}
.mnutext2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #1326AE;
	text-decoration: underline;
	text-transform: uppercase;
	clip: rect(0px,auto,auto,auto);
	padding-right: 30px;
	font-size: 9px;
	cursor: text;
	font-weight: bold;
	font-style: italic;
	
	
	position: relative;
		font-size: 20px;
		font-weight: normal;
		text-transform: uppercase;
	}
	.test {	
		border-bottom: 8px solid;
		background-color: #eee;
		background-image: -moz-linear-gradient(#fff,#eee);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
		background-image: -webkit-linear-gradient(#fff, #eee);
		background-image: -o-linear-gradient(#fff, #eee);
		background-image: -ms-linear-gradient(#fff, #eee);
		background-image: linear-gradient(#fff, #eee);
}

	.test1 {	
		
		background-color: #0600B5;

}
	
.Footertable
{
background: src="images/bg/claer.gif"
}

.DataTable {
 /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #00A3EF 100%);
 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#00A3EF',GradientType=0 ); /* IE6-9 */
}

.tickercontainer { 
width: 1000px;
height: 30px;
margin: 5;
padding: 5;
overflow: hidden;
}
.tickercontainer .mask { 
position: relative;
top: 0px;
height: 30px;
overflow: hidden;
}
ul.newsticker { 
-webkit-transition: all 0s linear;
-moz-transition: all 0s linear;
-o-transition: all 0s linear;
transition: all 0s linear;
position: relative;
font: bold 12px Verdana;
color: blue;
list-style-type: none;
margin: 0;
padding: 0;
}
ul.newsticker li {
float: left;
margin: 5;
padding: 5 4px;
box-sizing:border-box;
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

