<!--
  Generated template for the AtletaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{gara.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label >ID: {{gara.id}}</ion-label>
  
  
    </ion-item>
    <ion-item>
        <ion-label floating>TKDT_ID: </ion-label>
        <ion-input [(ngModel)]="gara.tkdt_id"></ion-input>
  
    </ion-item>
  <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input [(ngModel)]="gara.title"></ion-input>

  </ion-item>
  <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input [(ngModel)]="gara.location"></ion-input>

  </ion-item>
  <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-input [(ngModel)]="gara.data"></ion-input>
      <!--<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="gara.datafull"></ion-datetime>-->

  </ion-item>
  <ion-item>
    <ion-label>Giorni di gara</ion-label>
    <ion-select [(ngModel)]="gara.ngiorni">
      <ion-option value="1">1</ion-option>
      <ion-option value="2">2</ion-option>
      <ion-option value="3">3</ion-option>
      <ion-option value="4">4</ion-option>
      <ion-option value="5">5</ion-option>

    </ion-select>
  </ion-item>
  <ion-item>
      <ion-label >Stato</ion-label>
      
      <ion-select [(ngModel)]="gara.stato">
          <ion-option value="disputata">DISPUTATA</ion-option>
          <ion-option value="nondisputata">NONDISPUTATA</ion-option>
          <ion-option value="incorso">INCORSO</ion-option>
      </ion-select>
         
       

  </ion-item>
  <ion-item>
      <ion-label >Tipo</ion-label>
      <ion-select [(ngModel)]="gara.tipo">
          <ion-option value="combattimento">Combattimento</ion-option>
          <ion-option value="forme">Forme</ion-option>
        </ion-select>

  </ion-item>
  <ion-item>
      <ion-label floating>Map location</ion-label>
      <ion-input [(ngModel)]="gara.maplocation"></ion-input>

  </ion-item>
  <!--<ion-item>
    <ion-label >Iscritti</ion-label>
    <ion-select multiple [(ngModel)]="iscrittiarr">
        <ion-option *ngFor="let i of iscrittiarr" value="i">{{i.doc.cognome+' '+i.doc.nome}}</ion-option>
        
      </ion-select>

</ion-item>-->
<button ion-button block (tap)="selectIscritti()">Seleziona iscritti ({{getIscrittiLen()}})</button>
  <ion-item>
      <ion-label floating>Iscritti </ion-label>
      <ion-textarea readonly [(ngModel)]="gara.iscritti"></ion-textarea>
     

  </ion-item> 
 
  <ion-item>
      <ion-label floating>MyIscritti</ion-label>
      <ion-input [(ngModel)]="gara.myiscritti"></ion-input>

  </ion-item>

  <!--<ion-item *ngFor="let m of backend.getObjectArray(gara)">
  
  <ion-label floating>{{m.name}}</ion-label>
 <input type="text" [value]="m.value"/>
  
    </ion-item>-->
 

    <ion-card *ngIf="tkdtgara">
      <ion-card-header>
        <ion-row>
          <ion-col>
              Dati Tkdt
            </ion-col>
          <ion-col col-2><button *ngIf="!loadingtkdt" ion-button clear (tap)="retrieveTkdtGara(false)"><ion-icon name="md-refresh"></ion-icon></button><ion-spinner *ngIf="loadingtkdt" name="ios"></ion-spinner></ion-col></ion-row>
      </ion-card-header>
      <ion-card-content>
        
          <ion-row>
              <ion-col col-6 class="label">Atleti iscritti</ion-col>
              <ion-col >{{tkdtgara.atleti_iscritti.length}}</ion-col>
          </ion-row>
        

          <ion-row>
              <ion-col col-6 class="label">Atleti effettivi</ion-col>
              <ion-col >{{tkdtgara.atleti.length}}</ion-col>
          </ion-row>
        

          <ion-row>
              <ion-col col-6 class="label">Tabulati</ion-col>
              <ion-col >{{tkdtgara.tabulati.length}}</ion-col>
          </ion-row>
         

          <ion-row>
              <ion-col col-6 class="label">Giorni</ion-col>
              <ion-col >{{tkdtgara.giorni.length}}</ion-col>
          </ion-row>
        

          <button ion-button block (tap)="toggleTkdtJson()">Visualizza JSON</button>

          <div *ngIf="tkdtjsonview" class="tkdt">{{getTkdtGara()}}</div>
          <button ion-button block (tap)="matchTkdtIscritti()">Integra iscritti TKDT</button>
          <ion-item>
            <ion-label>Salva TKDT</ion-label>
            <ion-checkbox [(ngModel)]="tkdtSave"></ion-checkbox>
          </ion-item>
      </ion-card-content>
    </ion-card>
   
     
      


</ion-content>
  <ion-footer>
    <ion-row class="footerrow">
      <ion-col col-6><button color="secondary" ion-button full (tap)="saveGara()" >Salva</button></ion-col>
      <ion-col col-6><button ion-button full (tap)="cancelGara()">Annulla</button></ion-col>
    </ion-row>
  </ion-footer>

  <ion-fab right bottom>
   <button ion-fab><ion-icon name="md-create"></ion-icon></button>
    <ion-fab-list side="left">
    <button ion-fab><ion-icon name="md-create"></ion-icon></button>
    <button ion-fab><ion-icon name="md-add"></ion-icon></button>
    
  </ion-fab-list>
 </ion-fab>
