page-editgara  {
    .label {
        font-size: 12px;
        color: gray;
    }
    .value {
        font-size: 16px;
        color: black;
        white-space: normal;
    }
    .footerrow ion-col {
        padding: 5px;
    }

    ion-fab[bottom] {
        bottom: 50px;
    }

    .tkdt {
        word-wrap: break-word;
        white-space: normal;
    }
}
