.inputtext {
  background-color: white;
}

.ionimg {
  contain: none;
   display: unset;
   /*max-width: 200px;*/
   /*max-height: 150px;*/
   border: 0px solid black; 
}

.divcont {
  text-align: center;
}

.ionimg img {
 /* max-width: 50%; 
  max-height: 50%;*/
 
}

.friendmail {
  font-size: 12px;
}
.friendnick {
  font-size: 18px;
}
.msgemail {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}
.rtmatches {
  opacity: .9;
}

.msgtext {
  font-size: 13px;
  padding: 10px;
  white-space: normal;
}
.date {
  font-size: 11px;
  font-style: italic;
}
img.avatar {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        display: block;
        float: left;
        margin-right: 5px;
        margin-left: -5px;
        


      } 

      img.avatarbig {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        display: block;
        float: left;
        margin-right: 5px;
        margin-left: -5px;
        


      }

      .datachange {
        background: lightblue;
        width: 100%;
        max-width: 100%;
        margin: auto;
        border-radius: 3px;
        box-shadow: 1px 1px 1px silver;
        font-size: 12px;
        font-style: italic;
        text-align: center;
  
      }



.chat {
  padding-bottom: 50px;
  background: url('../assets/img/chatback.jpg');

  .header {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0 5px;
    border-bottom: 1px solid #222;
    position: fixed;
    top: 0;
    left: 0;
    background: #f4f4f4;
    h2 {
      font-size: 18px;
      padding: 8px 0;
      margin: 0;
      float: left;
      display: block;
    }
    button {
      margin: 6px 0;
      float: right;
    }
  }

  .moreprev {
    width: 100%;
    background: cyan;
    margin: 5px;
    max-width: 98%;
    border-radius: 9x;
  }
  .messages {
    width: 100%;
    position: absolute; 
    .message {
      font-size: 12px;
      box-shadow: 1px 1px 1px silver;
      max-width: 65%;
      width: auto;
      /*max-width: 98%;*/
      /*padding: 6px 6px;*/
      /*background: #387ef5;*/
      /*background: #007acc;*/
      background: white;
      /*color: #fff;*/
      color: #000;
      border-radius: 9px;
      margin: 5px;
      float: left;
      clear: both;
      line-height: 100%;
      display: block;
      position: relative;
      .date {
        /*display: block;*/
        font-size: 12px;
        padding: 5px;
        font-weight: normal;
      }
      img.avatar {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        display: block;
        float: left;
        margin-right: 5px;
        margin-left: -5px;
      }
      
    }
   
    .message100 {
      width:100%;
    }
    .message.me {
      float: right;
      /*background: #eee;*/
      background: #ffffb3;
      border: 0px solid #387ef5;
      color: #222;
      text-align: right;
      img.avatar {
        display: none;
      }
    }
  
    .message.system {

      background: yellow;
      border: 1px solid #387ef5;
      color: #222;
      width: 95%;
      max-width: 100%;
     
      text-align: left;
      img.avatar {
        display: none;
      }
    }
  }

  .msg {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 5px;
    width: 100%;
    height: 40px;
    border-top: 1px solid #222;
    background: #f4f4f4;
    input {
      display: block; 
      float: left;
      width: 75%;
      outline: none;
      border: 1px solid #222;
      border-radius: 3px;
      padding: 4px 5px;
      margin-top: 6px;
    }
    button {
      display: block;
      float: right;
      width: 18%;
      margin-top: 5px;
    }
  }
}

.no-padding {
    padding: 0px !important;
}

ion-col,ion-row,ion-grid {
  padding: 0px !important;
}

.offlinechat {
    font-size: 12px;
    color: silver;
    font-weight: normal;
}

.mailphone {
  background: #eee; 
  width: 100%;
  padding: 5px;
  color: black;
}

.sblurred {
  opacity: .6;
  background: #444444;
}

.onlinechat {
    font-size: 12px;
    color:  #66ff33;
    font-weight: 900;
    /*background-color: green;*/
    border-radius: 3px;
    padding: 3px;
    text-align: center;

}

.status {
  font-size: 12px;
}

.soverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.noscroll { 
  overflow: hidden;
}

.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;

    .overlay-content {
        height: 100%;
        overflow: scroll;
    }
}

.overlayed-content{
    height: 100%;
    overflow: auto;
}

.buticon {
  font-size: 12px;
}

.chatbutton {
    background: #eee;
    color: black;
    font-size: 20px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.recording {
  background: red;
  color: yellow;
}

.cameraicon {
  position: absolute;
  bottom: 8px; 
  right: 10px;
  z-index: 8000;
  font-size: 28px;
  color: gray;
}

.menubutton {
  font-size: 22px;
}
