<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      BP
    </ion-title>
     <ion-buttons end>
  <button ion-button icon-right (tap)="toggleFilters()"><!--*ngIf="isIbmAdmin" -->
 
  <ion-icon name="ios-search"></ion-icon>
</button>
</ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content spadding class="ion-content">
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
        </ion-refresher-content>
  </ion-refresher>
  <!--<ion-list>
  <ion-item ion-item  *ngFor="let key of bpfiltersarray" >
    {{ key }}
    <ion-list>
  <ion-item ion-item  *ngFor="let item of bpfilters[key]" >{{item}}</ion-item>
    </ion-list>
  </ion-item>  
</ion-list>-->
  <ion-card *ngIf="filtersShown" style="padding: 4px !important;">
    <ion-card-header>
      Search filters
    </ion-card-header>
    <ion-row *ngFor="let key of bpfiltersarray" >
      <ion-col>
    <button ion-button (tap)="selectFilter(key)" style="min-width: 200px">{{key}}</button>
      </ion-col>
      <ion-col><ion-item>{{getFilter(key)}}</ion-item></ion-col>
      </ion-row>
   <!-- <span *ngFor="let muschio of bpfilters[key]" value="muschio">{{muschio}}</span>-->
  <!--<ion-select (ionChange)="onFilterChange($event)" id="{{key}}" >
      <ion-option *ngFor=" let muschio of getFilters(key)" value="{{muschio}}">{{muschio}}</ion-option>
      
    </ion-select>-->
    </ion-card>
    <ion-card style="padding: 4px !important;" *ngIf="showFilterMsg()" >
      <ion-item>
    Specify some filters to search for BPs
    </ion-item>
    </ion-card>
    <ion-card style="padding: 4px !important;" *ngIf="displayednews.length>0" >
      <ion-item>
    {{displayednews.length}} BP found for the specified filters
    </ion-item>
    </ion-card>
   <ion-card *ngFor="let item of displayednews" (tap)="tapCard(item)">
 
      <ion-item>
        <h2 class="h2wrap">{{item.doc.Company}}</h2>
        <p class="autore">{{item.doc.Competency}}</p>
        <div>{{item.doc.PreferredVAD}}</div>
        <div>{{item.doc.BU}}</div>
        <div>{{item.doc.TaxonomyCategory}}</div>
          <div>{{item.doc.TerritoryCity}}</div>
        
      </ion-item>
 
    </ion-card>
</ion-content>
