<table width="100%" style="border:1px solid silver; padding: 3px;">

<tr><td><span style="font-size: 10px;">Aggiungi elementi di cronaca</span></td></tr>
<tr><td>
<label for="ckAudioElem"><input onclick="toggleCheckbox(this,'audiocelemdiv')" type="checkbox" name="ckAudioCelem" id="ckAudioCelem" class="custom">Audio</label>
<div id="audiocelemdiv" style="display:none;">
<a href="javascript:recordAudio();" data-role="button" id="recordaudio" sdata-theme="b" data-icon="audio"><span style="color: red; font-weight: bold;">REGISTRA CRONACA</span></a>
<a href="javascript:playAudio();" data-role="button" id="playaudio" sdata-theme="b" data-icon="audio"><span style="color: black; font-weight: normal;">RIASCOLTA CRONACA</span></a>
<a href="javascript:sendAudio();" data-role="button" id="sendaudio" sdata-theme="b" data-icon="comment"><span style="color: blue; font-weight: bold;">TRASMETTI CRONACA</span></a>
</div>
</tr></td>
<!--</table>
<br>
<table width="100%" style="border:1px solid silver; padding: 3px;">-->

<!--<tr><td><span style="font-size: 10px;">Testo</span></td></tr>-->
<tr><td>
<label for="ckTestoElem"><input onclick="toggleCheckbox(this,'testocelemdiv')" type="checkbox" name="ckTestoCelem" id="ckTestoCelem" class="custom">Testo</label>
<div id="testocelemdiv" style="display:none;">
<textarea style="width: 100%; height: 300px;" id="testo"></textarea>
</div>
</tr></td>
<!--</table>
<br>
<table width="100%" style="border:1px solid silver; padding: 3px;">-->

<!--<tr><td><span style="font-size: 10px;">Foto</span></td></tr>-->
<tr><td>
<label for="ckFotoElem"><input onclick="toggleCheckbox(this,'fotocelemdiv')" type="checkbox" name="ckFotoCelem" id="ckFotoCelem" class="custom">Foto</label>
<div id="fotocelemdiv" style="display:none;">
<a href="javascript:getFoto();" data-role="button" id="getfoto" sdata-theme="b" data-icon="camera"><span style="color: red; font-weight: bold;">SCATTA FOTO</span></a>
<div class="fotoview" style="background-size: contain; height: 200px; width: 100%; overflow: hidden; margin: 0 auto;" >
<img src="img/logotkdrozzano.png" style="display: none; swidth: 300px;"></img>
</div>
<a href="javascript:viewFoto();" data-role="button" id="viewfoto" sdata-theme="b" data-icon="eye"><span style="color: black; font-weight: normal;">VISUALIZZA FOTO</span></a>
<a href="javascript:sendFoto();" data-role="button" id="sendfoto" sdata-theme="b" data-icon="comment"><span style="color: blue; font-weight: bold;">TRASMETTI FOTO</span></a>
</div>
</tr></td>
</table>
<br>
<a href="javascript:sendCronacaElements()" data-role="button" id="sendcelem" sdata-theme="b" data-icon="check"><span style="color: green; font-weight: bold;">INVIA ELEMENTI CRONACA</span></a>
<a href="javascript:cancelCronacaElements();" data-role="button" id="cancelcelem" sdata-theme="b" data-icon="check">Annulla</a><br><br>