<!--
  Generated template for the MatchesforatletaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Match atleta</ion-title>
    <ion-buttons end>
    <button ion-button style="font-size: 18px" (click)="gotoChat()"><ion-icon name="md-chatbubbles"><ion-badge *ngIf="backend.unread>0" color="danger">{{backend.unread}}</ion-badge></ion-icon>
      
      </button>
      <button *ngIf="backend.user.role=='tkdradmin'" ion-button style="font-size: 18px" (click)="addMatches()"><ion-icon name="md-add-circle"></ion-icon>
        
        </button>

      </ion-buttons>
  </ion-navbar>
  <ion-segment (tap)="tapSegment()" [(ngModel)]="activetab">
      <ion-segment-button  value="matches">
       <!-- <ion-icon name="camera"></ion-icon>-->Match
      </ion-segment-button>
      <ion-segment-button  value="details">
          <!-- <ion-icon name="camera"></ion-icon>-->Dettagli atleta
         </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content spadding>

  <div *ngIf="loading" style="text-align:center">
    <ion-spinner name="ios"></ion-spinner>
  </div>

  <section *ngIf="activetab=='matches'">

  <section *ngIf="mfa.length==0">
    <ion-card>
      <ion-card-content>
      Nessun match per {{atleta.cognome}} {{atleta.nome}}
    </ion-card-content>
    </ion-card>
  </section>

   <ion-list>
      <ng-container *ngFor="let m of mfa">
      <ion-item  (press)="deleteMatch(m.doc)" (tap)="showMatchconsole(m.doc)">
        <ion-row >
          <ion-col col-2><img width="32" height="32" src="{{getImg(m)}}" /></ion-col>
          <ion-col>
            <div class="{{getClass(m.doc)}}">{{m.doc.matchid}}</div>
            <div class="atleta">{{m.doc.atletaname}}</div>
            <div class="categoria">{{getCategoria(m.doc.datanascita).toUpperCase()}}</div>
            <div class="{{getClass(m.doc)}}" style="font-weight: normal">{{getVintoText(m.doc)}}</div>
            <div *ngIf="m.doc.derby && (m.doc.derby!=null)" class="derby">{{getDerbyText(m.doc.derby)}}</div>
          </ion-col>
        </ion-row>
      </ion-item>
      </ng-container>
    </ion-list>

  </section>
  <section *ngIf="activetab=='details'">
      <button full ion-button sstyle="width: 100%; background: blue; color: white; font-size: 16px;" (tap)="viewTkdtCategoria=!viewTkdtCategoria; backend.playFeedback();">Dati ufficiali categoria</button>
    <ion-list *ngIf="viewTkdtCategoria">
      <ion-item  style="font-size:12px" *ngFor="let a of tkdtatletaarr"> 
        <ion-row>
          <ion-col col-5>

        {{a.name}}</ion-col><ion-col>{{a.value}}</ion-col>
        </ion-row>
      </ion-item>
      </ion-list>


     <button full ion-button sstyle="width: 100%; background: blue; color: white; font-size: 16px;" (tap)="viewAvversari=!viewAvversari; backend.playFeedback();">Avversari in categoria ({{avversari.length}})</button>
    <ion-list *ngIf="viewAvversari">
      <ion-item  style="font-size:12px" *ngFor="let avv of avversari"> 
        <ion-row>
          <ion-col col-5 class="atleta wrap">

        {{avv.nome}}</ion-col>
        </ion-row>
        <ion-row>
        <ion-col class="wrap">{{avv.societa}}</ion-col>
        </ion-row>
      </ion-item>
      </ion-list>
       <button full ion-button sstyle="width: 100%; background: blue; color: white; font-size: 16px;" (tap)="viewTabulato=!viewTabulato; backend.playFeedback();">Tabulato</button>
    <ion-item *ngIf="viewTabulato">
     
      {{tabulato.tabname}}<br>
      <p>
          <i>Clicca sul tabulato per ingrandirlo</i>
        </p><br>
      <img (tap)="openTabulato(tabulatoimg)" [src]="tabulatoimg" />
     <!-- <div (tap)="backend.getTabulatoImg(tabulato.oldhref)" >Tabulato</div>--> 
    </ion-item>
    <button full ion-button sstyle="width: 100%; background: blue; color: white; font-size: 16px;" (tap)="viewHistory=!viewHistory; backend.playFeedback();">Storico Atleta</button>
    <ion-list *ngIf="viewHistory">
      <ion-item> 
          <ion-row style="padding: 2px !important; font-size: 12px; background: #eee;">
         <ion-col col-8>Gara</ion-col>
         <ion-col col-2>MED</ion-col>
         <ion-col col-1>M</ion-col>
         <ion-col col-1>MD</ion-col>
         </ion-row>
        </ion-item>
     <ion-item *ngFor="let h of history" >
       <ion-row style="padding: 2px !important; font-size: 12px;">
         <ion-col col-8 style="white-space: normal">{{h.data}} {{h.location}}</ion-col>
         <ion-col col-2><span [ngClass]="getMedagliaHistory(h).color"> {{getMedagliaHistory(h).medaglia}}</span></ion-col>
         <ion-col col-1>{{h.matches}}</ion-col>
         <ion-col col-1>{{h.matchesdisputati}}</ion-col>
         </ion-row>
        </ion-item>
    </ion-list>  

  </section>


</ion-content>
