page-matchesforatleta {

    .history {
        font-weight: bold;
       
    }

    .wrap {

        word-wrap: break-word;
        white-space: normal;
          
    }

    .derby {
        font-size: 12px;
        font-style: italic;
    }

     .black {
            color: black;
        }
        .yellow {
            color: orange;
        }
        .silver {
            color: silver;
        }
        .orange {
            color: brown;
        }

}
