.session-container {
    background-color: white;
    padding: 12px
}

.session-container-silver {
    background-color: #ddd;
    padding: 12px
}

.disputata {
    color: #555
}

.incorso {
    background: #ddffcc
}

.spanincorso {
    color: darkgreen
}

.gara {
    font-size: 15px;
    font-weight: bold
}

.location {
    font-size: 14px;
    font-style: italic
}

.medals {
    font-size: 14px;
    font-style: normal
}

.iscritti {
    font-size: 12px;
    font-style: normal
}

.padding8 {
    padding: 8px
}

.wordwrap {
    word-wrap: break-word;
    white-space: normal
}

.baricon {
    font-family: FontAwesome; 
    margin: 10;
    font-size: 22;
    background-color: transparent;
    border-width: 0 0 0 0;
}


.garadata {
    font-size: 12;
    color: #222;
}

#infostack Label {
    font-size: 12;
}