page-home {

}
.offline {
    font-size: 12px;
    color: silver;
    font-weight: normal;
}

.online {
    font-size: 12px;
    color: green;
    font-weight: 900;
    /*background-color: green;*/
    border-radius: 3px;
    padding: 3px;
    text-align: center;

}

.ion-content {
    padding: 1px !important;
}