<!--
  Generated template for the GaraPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gara</ion-title>
    <ion-buttons end>
      <button *ngIf="hasMap()" ion-button style="font-size: 18px" (click)="showMap()"><ion-icon name="md-locate"></ion-icon>

</button>
<button ion-button style="font-size: 18px" (click)="gotoChat()"><ion-icon name="md-chatbubbles"><ion-badge *ngIf="backend.unread>0" color="danger">{{backend.unread}}</ion-badge></ion-icon>

</button>
</ion-buttons>
  </ion-navbar>
  
   <ion-toolbar class="stoolbar">
     <div sstyle="background: #ddd; padding: 0px;">
     <button class="incaston"  full color="dark" sstyle="swidth:100%; sfont-size: 14px; stext-align: left; sbackground: #333; scolor: #eee; " (tap)="toggleInfobar()"  >
     <ion-row>
       <ion-col col-1 fixed style="color: gray; sfont-size: 26px;">
       <ion-icon *ngIf="!viewInfobar" class="gray" name="md-arrow-dropright"></ion-icon>
       <ion-icon *ngIf="viewInfobar" class="gray" name="md-arrow-dropdown"></ion-icon>
       </ion-col>
       <ion-col col-10 style="salign-items: center; sdisplay: flex; font-size: 13px;"><b>{{jgara.title}}</b><!--<i>{{jgara.data}} - {{jgara.location}}</i>--></ion-col>
       <ion-col col-1 style="text-align: right"><img *ngIf="loading" width="18" height="18" src="assets/img/ajax-loader.gif"/></ion-col>
       
       </ion-row>
    </button>
      
     <ion-item *ngIf="viewInfobar" style="padding: 7px !important; background: #eee; font-size: 14px; smargin: 2px; ">
  
       <div >
         <ion-row><ion-col col-4>Gara</ion-col><ion-col class="infobold">{{jgara.title}}</ion-col></ion-row>
         <ion-row><ion-col col-4>Location</ion-col><ion-col class="infobold">{{jgara.location}} &nbsp;&nbsp;<a (tap)="showMap()" *ngIf="hasMap()">Visualizza mappa</a></ion-col></ion-row>
         <ion-row><ion-col col-4>Data</ion-col><ion-col class="infobold">{{jgara.data}}</ion-col></ion-row>
         <ion-row><ion-col col-4>&nbsp;</ion-col><ion-col>&nbsp;</ion-col></ion-row>
         <ion-row><ion-col col-4>Iscritti</ion-col><ion-col class="infobold">{{getArrLen(jgara.iscritti)}} (F: {{getMaschiFemmine(iscritti,'iscritti').femmine}}, M: {{getMaschiFemmine(iscritti,'iscritti').maschi}}) </ion-col></ion-row>
          <ion-row><ion-col col-4>Match disputati</ion-col><ion-col class="infobold">{{info.disputati.rows.length}} (F: {{getMaschiFemmine(info.disputati).femmine}}, M: {{getMaschiFemmine(info.disputati).maschi}}) </ion-col></ion-row>
           <ion-row><ion-col col-4>Match vinti</ion-col><ion-col class="infobold">{{info.vinti.rows.length}} (F: {{getMaschiFemmine(info.vinti).femmine}}, M: {{getMaschiFemmine(info.vinti).maschi}}) </ion-col></ion-row>
            <ion-row><ion-col col-4>Match persi</ion-col><ion-col class="infobold">{{info.persi.rows.length}} (F: {{getMaschiFemmine(info.persi).femmine}}, M: {{getMaschiFemmine(info.persi).maschi}}) </ion-col></ion-row>
            <ion-row><ion-col col-12>&nbsp;</ion-col></ion-row>
            <ion-row><ion-col col-4>Categorie coperte</ion-col><ion-col class="infobold">{{categoriecoperte.text}}</ion-col></ion-row>
      <!--<div>Gara: {{jgara.title}}</div>
      <div>Location: {{jgara.location}}</div>
      <div>Data: {{jgara.data}}</div>
      <div>Iscritti: {{getArrLen(jgara.iscritti)}}</div>-->
       </div>
 
       </ion-item>
       <!--<ion-item style="background: #eee; height: 10px !important; margin: 0px !important; padding: 0px !important;">-->
         <ion-row style="background: #333">
           <ion-col col-3>
         <button (tap)="setFilters()" [ngClass]="getFiltersClass()" ion-button dark small >{{getFiltersText()}}</button>
           </ion-col>
           <ion-col col-9 style="text-align: right;">
             <button ion-button (tap)="getMedagliereGlobale()" small class="filt medals" style="height: 20px; font-size: 14px; margin-right: 7px; justify-content: center;">
               <span class="ori">ORI: {{getMedals().ori}}</span>
               <span class="argenti">ARG: {{getMedals().arg}}</span>
               <span class="bronzi">BRO: {{getMedals().bro}}</span>
               </button>
           </ion-col>
         </ion-row>
       <!--</ion-item>-->
     <!--<ion-item *ngIf="gara.gara.rows.length>0" >{{gara.gara.rows[0].doc.title}}</ion-item>-->
    <ion-segment class="segment" (tap)="tapSegment()" color="light" [(ngModel)]="view">
      <ion-segment-button  value="matchesbyprog">
       <!-- <ion-icon name="camera"></ion-icon>-->Per match
      </ion-segment-button>
      <ion-segment-button value="matchesbyatleta">
       Per atleta
      </ion-segment-button>
       <ion-segment-button  value="cronaca">
        Cronaca
      </ion-segment-button>
       <!-- <ion-segment-button value="infogara">
        Gara
      </ion-segment-button>-->
    </ion-segment>
    </div>
  </ion-toolbar>

</ion-header>
<ion-tabs>
  <ion-tab [root]="tab1Root"></ion-tab>
  <ion-tab [root]="tab2Root"></ion-tab>
  <ion-tab [root]="tab3Root"></ion-tab>
</ion-tabs>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="ios">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="showIscritti">
    <ion-card-content>
        Nessun incontro trovato
    </ion-card-content>

  </ion-card>
  <section id="iscritti" *ngIf="showIscritti">
   <ion-card>
      <ion-card-header style="background: lightblue">
      
        {{iscritti.length}} iscritti a questa gara
      </ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let atl of atletiiscritti">
          <ion-item >
              <button ion-item  (tap)="showMatchesForAtleta(atl.id)">
            <ion-grid>
              <ion-row>
                  
                   <ion-col>
                    
          <div class="atleta">{{atl.cognome}} {{atl.nome}}</div>
          <div class="categoria">{{atl.categoria.toUpperCase()}}</div>
                   </ion-col>
              </ion-row>
            </ion-grid>
          </button>
          
        </ion-item>
        <hr>
        <!--<ion-item-divider color="light"></ion-item-divider>-->
        </ion-list>
      </ion-card-content>
    </ion-card>
  </section>


  <section id="matchesbyprog" [hidden]="view!='matchesbyprog'" sngIf="view=='matchesbyprog'">

          <ion-list >
              <div *ngFor="let m of displayedgara.matchesbyprog.rows">
              <ion-item  *ngIf="m.doc.dadisputare=='yes'" (tap)="showMatchesForAtleta(m.doc.atletaid)">
                <ion-row >
                  <ion-col col-2><img width="32" height="32" src="{{getImg(m)}}" /></ion-col>
                  <ion-col>
                    <div class="{{getClass(m.doc)}}">{{m.doc.matchid}}</div>
                    <div class="atleta">{{m.doc.atletaname}}</div>
                    <div class="categoria">{{getCategoria(m.doc.datanascita).toUpperCase()}}</div>
                    <div class="{{getClass(m.doc)}}" style="font-weight: normal">{{getVintoText(m.doc)}}</div>
                     <div *ngIf="m.doc.derby && (m.doc.derby!=null)" class="derby">{{getDerbyText(m.doc.derby)}}</div>
                  </ion-col>
                </ion-row>
              </ion-item>
              </div>
            </ion-list>

     
   

  </section>
  <section id="matchesbyatleta" [hidden]="view!='matchesbyatleta'"  sngIf="view=='matchesbyatleta'">
    <ion-list>
      <ion-item *ngFor="let m of displayedgara.matchesbyatleta.rows" (tap)="showMatchesForAtleta(m.id)">
        <ion-row>
          <ion-col col-2><img width="32" height="32" src="{{getImgPerAtleta(m)}}" /></ion-col>
          <ion-col>
            
            <div class="atleta">{{m.nome}}</div>
            <div class="categoria">{{getCategoria(m.datanascita).toUpperCase()}}</div>
            <div class="matches">
              <span *ngFor="let x of m.matchesarray" class="{{getClass(x)}}">
                {{x.matchid}}
                </span>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </section>


  
  <section id="cronaca" [hidden]="view!='cronaca'" sngIf="view=='cronaca'">
    <ion-list>
      <ion-item *ngFor="let m of gara.cronaca.rows">
        <ion-row>
         
          <ion-col>
            
            <div class="time">{{getCronacaTime(m.time)}}</div>
            <div class="text">{{m.text}}</div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </section>

  <section id="infogara" [hidden]="view!='infogara'"  sngIf="view=='infogara'">
    <ion-list style="font-size: 14px">
     
      <div>Gara: {{jgara.title}}</div>
      <div>Location: {{jgara.location}}</div>
      <div>Data: {{jgara.data}}</div>
      <div>Iscritti: {{getArrLen(jgara.iscritti)}}</div>
      <br>
      <div>{{categoriecoperte.text}}</div>
      
    </ion-list>

  </section>

  <!--<ion-fab right bottom *ngIf="realtimecount>0">
   <button ion-fab style="font-size: 11px">LIVE!</button>
 </ion-fab>-->

</ion-content>