page-gara {

  .ssegment {
    background: #ddd;
  }

  .toolbar-md {
    padding: 0px;
  }
  .toolbar-content-md{
    padding: 0px;
  }

  .derby {
        font-size: 12px;
        font-style: italic;
    }
  


.imgicon {
    position:relative; 
    top:0; 
    bottom:0; 
    left: 0px; 
	padding: 5px;
    margin:auto; 
    height:45px; 
    width:45px;
	border: 1px solid silver;
}




.lgreen {
  color: green;
  font-size: 14px;
  font-weight: bold;
}
.lred {
  color: red;
  font-size: 14px;
  font-weight: bold;
}
.lgray {
  color: gray;
  font-size: 14px;
  font-weight: normal;
}
.lblack {
  color: black;
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
}

.loginspan,.serverspan,.societaspan,.nickspan {
 font-size: 11px;
}




.data {
 font-size: 11px;
 /*color: #dddddd;*/
 color: #111111;

}

.testo {
 font-size: 13px;
  white-space: normal !important;

}

.nonvisto {
 /*color: yellow;*/
 color: "#55555";
 font-weight: bold;
}

.small {
 font-size: 10px;
}

.time {
    font-size: 11px;
    color: darkgray;
}

.text {
    font-size: 12px;
    color: black;
    word-wrap: break-word;
    white-space: normal;
}

.incaston {
  padding: 4px;
  width: 100%;
  background: #222;
  color: #eee;
  font-size: 14px;
  height: 30px;
}

ion-item {
  padding: 0px !important;
}


ion-col {
    padding: 0px !important;
}

/*
ion-label {
  
}*/

ion-row {
    padding: 0px !important;
}


.medals {
 font-size: 13px;
 /*width: 180px;*/
 font-weight: bold;
 /*padding: 4px;*/
}

.segment-md-light .segment-button.segment-activated {
    border-color: #f4f4f4;
    color: yellow;
    opacity: 1;
}

.medals span {
  margin: 3px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px;
}

.ori {
  color: yellow;
}

.argenti {
  color: silver;
}
.bronzi {
  color: orange;
}

.infobold {
  font-weight: bold;
}

.filt {
  background: #222;
  height: 20px; 
  background: #444; 
  margin: 6px;
}

.filtapplied {
  border: 1px solid yellow;
}


}
