<html>
<head>
</head>
<body>
<form action="/files/save" method="post">
<input type="submit" value="Salva" /><br>
<input type="hidden" id="filename" name="filename" value="<%=filename%>" />
<textarea id="txtfile" name="txtfile" rows="50" cols="80"><%= text %></textarea>

</form>
</body>
</html>