<!--<div data-role="popup" data-dismissable="false" data-theme="b"  class="sui-popup  ui-overlay-shadow ui-corner-all" sdata-transition="slidedown" data-history="false"   data-overlay-theme="none" id="dialogCategorie" style="border: 0px solid silver; ">
		
	
		<div data-role="header" align="center" class="sui-content" data-theme="a">
		
		 <a href="#" onclick='$("#dialogCategorie").popup("close");'  class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a><h5>Seleziona categoria</h5></div>-->
		 
		 
		 <ul data-role="listview" id="ulcategorie" data-theme="a" class="ui-listview" sstyle="display:none">
			<li class="ui-li-static ui-body-inherit ui-first-child" onclick="setCategoria(this)">TUTTE</li>
			<li class="ui-li-static ui-body-inherit ui-first-child" onclick="setCategoria(this)">Esordienti</li>
			<!--<li>Esordienti A</li>-->
			<li onclick="setCategoria(this)" class="ui-li-static ui-body-inherit ui-first-child" >Cadetti B</li>
			<li onclick="setCategoria(this)" class="ui-li-static ui-body-inherit ui-first-child">Cadetti A</li>
			<li onclick="setCategoria(this)" class="ui-li-static ui-body-inherit ui-first-child">Junior</li>
			<li onclick="setCategoria(this)" class="ui-li-static ui-body-inherit ui-first-child">Senior A</li>
			<li onclick="setCategoria(this)" class="ui-li-static ui-body-inherit ui-first-child">Senior B</li>
			<!--<li data-role="list-divider"></li>
			<li onclick="setCategoria(this)" class="ui-li-static ui-body-inherit ui-first-child">Annulla</li>-->
            </ul>
			
			
			
			
			
		   
		
		
		<!--</div>-->