		 <ul data-role="carousel" data-captions="true"  >
   <li><a href="#"><img alt="" src="img/logofita.jpg"/><h1>FITA</h1></a>
  </li>
   <li><img alt="" src="img/logotkdrozzano.png"/>
  </li>
   <li><img alt="" src="img/bannergplay.png"/></li>

 </ul>