<% 
for (var i=0; i<data.length; i++)  {

%>
<li class="ui-li-static ui-body-inherit ui-first-child">
<span class="data"><%= data[i].time %></span><br>
<span class="testo nonvisto"><%= data[i].text%></span>
</li>
<% } %>