 <div data-role="popup" id="temppopup" data-dismissible="false" data-theme="a"  class="ui-corner-all">
	
    <a href="#" onclick="popCloseRemove()" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
    <div data-role="header" class="ui-header ui-bar-b sui-header-fixed slidedown ui-panel-fixed-toolbar" data-theme="b"><h5 align="center">Classifica Societa</h5></div>
	<div data-role="content" style="sheight: 60%; max-height: 80vh; smax-width: 70vh; overflow: auto;">
      <%= data %>
	</div>  
 </div>