<div id="menuPanel" data-role="panel" data-theme="b" data-display="overlay" data-transition="fade">
<!--<div data-role="header" data-theme="b" data-postion="fixed" data-tap-toggle="false">
			<h3>&nbsp;</h3>
</div>-->
   <ul data-role="listview"  class="ui-lista ui-listview ui-group-theme-b" id="ulcalpanel" >
                   <li data-icon="false">
                        <a class="ui-btn " href="#index" sdata-ajax="false" data-transition="none">Home</a>
                    </li>
					<!--<li data-icon="false">
                        <a class="ui-btn " href="#" onclick="gotoChat()" sdata-ajax="false" data-transition="none">ChatKwonDo</a>
                    </li>-->
	        
			<% if (role=="tkdradmin") { %>
             <li data-icon="false">
                        <a class="ui-btn showadmin" href="#page_tpss" sdata-ajax="false" data-transition="slide">TPSS</a>
                    </li>
			
			        <li data-icon="false">
                        <a class="ui-btn showadmin" onclick="gotoSocieta()" sdata-ajax="false" data-transition="none">Societa'</a>
                    </li>
			
			
                    <li data-icon="false">
                        <a class="ui-btn showadmin" href="#page_atleti" sdata-ajax="false" data-transition="none">Atleti</a>
                    </li>
					<% } %>
                   	 <!--<li data-icon="false">
                        <a class="ui-btn " href="#page_news" sdata-ajax="false" data-transition="none">News</a>
                    </li>-->
                    <li data-icon="false">
                        <a class="ui-btn " href="#gare" sdata-ajax="false" data-transition="none">Gare</a>
                    </li>
                    <li data-icon="false">
                        <a class="ui-btn" href="javascript:gotoRanking()" sdata-ajax="false" data-transition="none">Ranking TKDR</a>
						</li>	
					<li data-icon="false">
                        <a class="ui-btn " href="#optionsPage" sdata-ajax="false" data-transition="none">Impostazioni</a>
                    </li>
					<!--<li data-icon="false">
                        <a class="ui-btn " href="#" onclick="getTkdTechnology();" sdata-ajax="false" data-transition="none">Classifica Società</a>
                    </li>-->
				
				
					   <!--   <li>
                  <a class="ui-btn " href="temporeale.html" data-ajax="false" data-transition="slidedown">Tempo reale</a>
                    </li>
					<li style="display:none">
                        <a class="ui-btn " href="news.html" data-ajax="false" data-transition="slidedown">Notizie</a>
                    </li>-->
                    <!--<li data-icon="false">
                        <a class="ui-btn " href="#" onclick="getTkdTechnology()" sdata-transition="pop">Classifica società</a>
                    </li>-->
					<!--<li>
                        <a class="ui-btn " href="javascript:importAtleti()" sdata-transition="pop">Importa atleti</a>
                    </li>-->
					    <% if (!data.loggedin) { %>
						<li data-icon="false"><a href="#" class="linkEXIT ui-btn " onclick="showLoginPage()" >Login amministratore</a></li>     
						<% } %> 
						<% if (role=="tkdradmin") { %>
						<li data-icon="false"><a href="#" class="linkEXIT ui-btn " onclick="showSocketsPage()" >Connessioni</a></li> 
						<li data-icon="false" class="showadmin">
                        <a class="ui-btn " href="#" onclick="gotoLog();" sdata-ajax="false" data-transition="none">Log</a>
                    </li>
						
						<li data-icon="false" style="display:none">
                        <a class="ui-btn showadmin" href="#" onclick="gotoBroadcast()" sdata-ajax="false" data-transition="none">Broadcast</a>
						</li>
                        <li data-icon="false" style="display:none">
                        <a class="ui-btn showadmin" href="#" onclick="fbTest()" sdata-ajax="false" data-transition="none">FB</a>
						</li>	
                        <li data-icon="false" style="sdisplay:none">
                        <a class="ui-btn showadmin" href="javascript:showTempoRealePage()" sdata-ajax="false" data-transition="none">TEMPOREALE</a>
						</li>			
						<!--<li data-icon="false"><a href="#optionsPage" class="linkEXIT ui-btn "  >Impostazioni</a></li>     -->
						
						<!--<li><a href="#" class="linkEXIT ui-btn " onclick="doLogout()" >Logout</a></li>     -->
		                <% } %>
                        
						<li data-icon="false"><a href="#" class="linkEXIT ui-btn " onclick="doLogout()" >Logout</a></li>
                        <!--<li data-icon="false"><a href="#" class="linkEXIT ui-btn " onclick="getTkdTechnologyNew()" >TKDT2</a></li>-->      
						<% if (isPhone) { %>
						
	<li data-icon="false"><a href="#" class="linkEXIT ui-btn " onclick="exitapp()">Chiudi app</a></li>
	                    <% } %> 
	
	<!--<li data-icon="false"><a class="ui-btn " href="/auth/facebook">Login with FB</a></li>-->
	</ul>  	
	<div id="tkdtech"></div>
</div>	