<div id="menu_chat"  style="z-index: 11000" data-position="right" data-role="panel" data-theme="b" data-display="overlay" data-transition="fade">
<!--<div data-role="header" data-theme="b" data-postion="fixed" data-tap-toggle="false">
			<h3>&nbsp;</h3>
</div>-->
   <ul data-role="listview"  class="ui-lista ui-listview ui-group-theme-b" id="ulcalpanel" >
                   
	        
			
			
			        <li data-icon="true">
                        <a class="ui-btn ui-icon-refresh ui-btn-icon-left ui-nodisc ui-nodisc-icon " onclick="refreshChat();closePanel();" sdata-ajax="false" data-rel="close" data-transition="none">Refresh</a>
                    </li>
					
			<% if (role=="tkdradmin") { %>
			
                     <li data-icon="true">
                        <a class="ui-btn ui-icon-delete ui-btn-icon-left ui-nodisc ui-nodisc-icon showadmin" onclick="resetChat(); closePanel();" sdata-ajax="false" data-rel="close" data-transition="none">Reset chat</a>
                    </li>
					  <li data-icon="true">
                        <a class="ui-btn ui-icon-bars ui-btn-icon-left ui-nodisc ui-nodisc-icon showadmin" onclick="listChats(); closePanel();" sdata-ajax="false" data-rel="close" data-transition="none">Lista chat</a>
                    </li>
					<% } %>
                   	 
	</ul>  	
</div>	