		 
		 
		  <audio src="<%=data.audio%>" controls>
     Your browser does not support the audio element.
     </audio>
		 <!--<a href="#" onclick='reviewChatAudio()'  class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ">Riascolta</a>-->
		 <a href="#" onclick="sendChatAudio('<%=data.audio%>')"  class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ">Invia</a>
		 <a href="#" onclick='cancelChatAudio()'  class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ">Annulla</a>
		 			
