 <div data-role="popup" id="popSysMsg" data-dismissible="false" data-theme="a" class="ui-corner-all">
        <form >
            <div style="padding:10px 20px;" data.role="content">
			<% 
			 var titolo="Messaggio a tutti";
			 if (data.destsocket){
			 if (data.destsocket.trim()!="") titolo="Messaggio a <br>"+data.destsocket;
			 }
			 %>
              <h4><%=titolo%></h4>
              <textarea id="tamsg" rows="5" cols="18"></textarea>
              
              
              <a id="sysmsgok" href="javascript:sysMsgOk()" data-role="button" class="ui-btn" sdata-theme="b" data-icon="check">Invia messaggio</a>
			  <a id="sysmsgcancel" href="javascript:sysMsgCancel()" data-role="button" class="ui-btn" sdata-theme="b" data-icon="check">Annulla</a>
			  <input type="hidden" id="dest" value="" />
            </div>
        </form>
    </div>