


<ul data-role="listview" >


<%

var trooturl="https://www.tkdtechnology.it/index.php/welcome/";


for (var i=0; i<data.giorni.length; i++) {
   var giorno=data.giorni[i]; 
   var urlgiorno=trooturl+"dettaglio_tabulati?id_giorno="+giorno.id_giornata;
   var hasContent=giorno.hasContent;
   colog(urlgiorno);
   var titolo=giorno.titolo;
   
   if (!giorno.hasContent) urlgiorno="javascript:none()";
   urlgiorno="javascript:none()";
   var st="";
   
   colog("giorno.enabled",giorno.enabled);
   var ena=false;
   if (giorno.tabulati.rows){
     colog("giorno.tabulati.rows.length",giorno.tabulati.rows.length);
if (giorno.tabulati.rows.length>0) ena=true;

   } 

   var funz="getTkdTechnologyGiornata('"+giorno.id+"','"+escape(giorno.titolo)+"')";
   
   //if (giorno.tabulati.length==0){
   if (!ena){
    
     st="background: silver";
     titolo=titolo.replace("I tabulati per questa giornata non sono ancora stati pubblicati","");
     titolo=titolo+"<br><span style='font-size: 11px'>Tabulati non disponibili</span>";
     colog("giorno not enabled",titolo);
     funz="none()";
    
   }

%>



<li data-iconpos="right" style="cursor: pointer; <%=st%>" data-icon="carat-r" data-inset="false" onclick="<%=funz%>" >
    <h2 ><%=titolo%></h2>
    
  </li>


<%

}


%>
</ul>
