<!--
  Generated template for the GarePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Eventi</ion-title>
  </ion-navbar>

  <ion-segment *ngIf="backend.user.role=='tkdradmin'" class="segment" [(ngModel)]="view">
    <ion-segment-button value="nextevents">
      <!-- <ion-icon name="camera"></ion-icon>-->Prossimi
    </ion-segment-button>
    <ion-segment-button value="allevents">
      <!-- <ion-icon name="camera"></ion-icon>-->Tutti
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content spadding style="background: #eee;">
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="ios">
        </ion-refresher-content>
  </ion-refresher>  

  <section *ngIf="view=='nextevents'">

  <ion-card *ngFor="let g of backend.nextevents">

    <ion-card-content>
 
    <b>{{g.gara.location}} - {{g.gara.data}}</b><br>
        {{g.gara.title}}<br>
        <ion-chip color="primary">
            <ion-label><b>Tra {{getAbs(g.diff)}} giorni</b></ion-label>
          </ion-chip>
      
   
   
    </ion-card-content>
    </ion-card>

  </section>

  <section *ngIf="view=='allevents'">
      <ion-card *ngFor="let g of gare">
      <ion-card-content>
          
          <b>{{g.doc.title}}</b><br>
          {{g.doc.location}} - {{g.doc.data}}<br>
          
          </ion-card-content>
          </ion-card>
      
       
  </section>



</ion-content>
