page-stats {

    .subriga {
        color: gray;
        font-size: 14px;
        font-style: italic;
    }

    .categoria {
        font-size: 13px;
        color: #222;
    }

    .top3 {
        font-weight: bold;
        color: blue;
    }

}
