<!--
  Generated template for the StatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Statistiche</ion-title>
   
  </ion-navbar>
  <!--<ion-toolbar>
    <ion-segment [(ngModel)]="tipostat">
      <ion-segment-button value="ranking">
        Ranking
      </ion-segment-button>
      <ion-segment-button value="altro">
        Altro
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>-->
  <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select (ionChange)="changeFilter($event)" [(ngModel)]="filter">
        <ion-option value="">Tutte</ion-option>
        <ion-option value="esordienti">Esordienti</ion-option>
        <ion-option value="cadetti b">Cadetti B</ion-option>
        <ion-option value="cadetti a">Cadetti A</ion-option>
        <ion-option value="junior">Junior</ion-option>
        <ion-option value="senior">Senior</ion-option>
      </ion-select>
    </ion-item>

</ion-header>


<ion-content nopadding>
   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="ios">
        </ion-refresher-content>
  </ion-refresher>  
      <div *ngIf="loading" style="text-align: center"><ion-spinner name="ios"></ion-spinner></div>


  <section *ngIf="tipostat=='ranking'">    
  <div style="text-align: center; font-style: italic" >Ordinamento: {{sortranking.toUpperCase()}}</div>
  <ion-item *ngFor="let r of displayedranking; let i=index;">
<ion-row [ngClass]="i<3 ? 'top3' : ''">
  <ion-col col-2>
    {{getPos(i)}}
    </ion-col>
    <ion-col>
      {{r.doc.cognome}} {{r.doc.nome}}
    </ion-col>
    <ion-col col-2>
      {{r.doc.ranking_tkdr}}
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-10>
          <span class="categoria">{{getCategoria(r)}}</span>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col class="subriga" col-10>ORI: {{r.doc.ori}} ARG: {{r.doc.argenti}} BRO: {{r.doc.bronzi}}  &nbsp;&nbsp;gare: {{r.doc.garedisputate}} match: {{r.doc.matchdisputati}}</ion-col>
    </ion-row>
    </ion-item>
  </section>

</ion-content>
  <ion-footer>
    <button ion-button full icon-start (tap)="sortStats()"><ion-icon name="md-funnel"></ion-icon>Ordina</button>



  </ion-footer>
