page-orders {

    .orderid {
        font-size: 13px;
    }

    .totalprice {
        font-weight: bold;
    }

    .status {
        font-weight: bold;
        text-transform: uppercase;
        
    }

    .id {
       font-size: 11px;
       color: #333;
      
    }
    
    .frm{
        font-size: 12px;
        color:#333;
    }

}
