<!--
  Generated template for the RtcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>rtc</ion-title>
  </ion-navbar>

</ion-header>


<ion-content spadding class="ion-content">
  <!--<button ion-button (tap)="showPeers()">Show Peers</button>-->

  <ion-row *ngIf="!backend.myPeerConnected">
    <ion-col col-8>
        <input type="text" id="caller-id"/>
        <ion-input type="text" [(ngModel)]="callerId"></ion-input>
    </ion-col>
    <ion-col col-4>
        <button ion-button (tap)="connect()">CONNECT</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list *ngFor="let p of backend.rtcpeers">
        <ion-item (tap)="dial2(p)">
          {{p}}
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
 <!-- <ion-row>
    <ion-col col-8>
        <ion-item>
            <ion-label>Peers</ion-label>
            <ion-select [(ngModel)]="interlocutor">
              <ion-option *ngFor="let p of backend.rtcpeers" [value]="p">{{p}}</ion-option>
              
            </ion-select>
          </ion-item>
    </ion-col>
    <ion-col col-4>
        <button ion-button (tap)="dial()">CALL</button>
    </ion-col>
  </ion-row>-->
  
  
  <!--<input type="text" id="recipient-id"/>-->
  
<div>
  <p><strong>REMOTE: {{interlocutor}}:</strong></p>
  <video id="remote-video" class="remotevideo" autoplay></video>
</div>
  <hr>
<div>
  <p><strong>LOCAL: {{callerId}}</strong></p>
  <video id="local-video" class="localvideo" autoplay muted></video>
</div>
</ion-content>
